[Desktop Entry]
Type=Application
Name=Power
Comment=Lock, suspend, log out, reboot, or shut down
Exec=wlogout
Icon=system-shutdown
Terminal=false
NoDisplay=false
Categories=System;
Keywords=logout;lock;suspend;reboot;shutdown;poweroff;
