# Tinted8 {{scheme.name}}
# Author: {{scheme.author}}

[colors]
background={{ui.global.background.normal.hex}}ff
text={{ui.global.foreground.normal.hex}}ff
prompt={{palette.blue.normal.hex}}ff
placeholder={{palette.gray.dim.hex}}ff
input={{ui.global.foreground.normal.hex}}ff
match={{palette.blue.normal.hex}}ff
selection={{ui.selection.background.hex}}33
selection-text={{palette.white.bright.hex}}ff
selection-match={{palette.blue.normal.hex}}ff
border={{palette.blue.normal.hex}}ff
