[Unit]
Description=Install optional software packages selected during installation
ConditionPathExists=!/var/lib/sobarch/profile-packages-installed
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/sobarch/install-profile-packages.sh

[Install]
WantedBy=multi-user.target
