/*
*
* Tinted8 {{scheme.name}}
* Author: {{scheme.author}}
*
* Authored locally instead of reused from tinted-theming/base16-waybar:
* see default.mustache's own comment for why. style.css still
* references these variables by their base16 names (@base00..@base0F),
* so this template keeps that naming, just fed from tinted8's own
* palette/ui roles instead of base00-base0F hex slots.
*/

@define-color base00 #{{ui.global.background.normal.hex}};
@define-color base01 #{{palette.black.bright.hex}};
@define-color base02 #{{ui.selection.background.hex}};
@define-color base03 #{{palette.gray.dim.hex}};
@define-color base04 #{{palette.gray.normal.hex}};
@define-color base05 #{{ui.global.foreground.normal.hex}};
@define-color base06 #{{palette.white.bright.hex}};
@define-color base07 #{{palette.white.bright.hex}};
@define-color base08 #{{palette.red.normal.hex}};
@define-color base09 #{{palette.orange.normal.hex}};
@define-color base0A #{{palette.yellow.normal.hex}};
@define-color base0B #{{palette.green.normal.hex}};
@define-color base0C #{{palette.cyan.normal.hex}};
@define-color base0D #{{palette.blue.normal.hex}};
@define-color base0E #{{palette.magenta.normal.hex}};
@define-color base0F #{{palette.orange.dim.hex}};
