# Base16 {{scheme-name}}
# Author: {{scheme-author}}

[colors]
background={{base00-hex}}ff
text={{base05-hex}}ff
prompt={{base0D-hex}}ff
placeholder={{base03-hex}}ff
input={{base05-hex}}ff
match={{base0D-hex}}ff
selection={{base02-hex}}33
selection-text={{base06-hex}}ff
selection-match={{base0D-hex}}ff
border={{base0D-hex}}ff
